# .env should NOT be checked in to source control

SECRET_KEY_BASE='<%= `rake secret`.strip %>' # generated with `rake secret`
DATABASE_PASSWORD='<%= SecureRandom.urlsafe_base64(24) %>' # generated with `SecureRandom.urlsafe_base64(24)`
